<section class="price" id="price">
  <div class="container">
    <div class="headline">
      цены
    </div>
    <div class="title">
      <h2>
        цены на наши услуги
      </h2>
    </div>
    <div class="price__tabs_wrapper">
      <div class="price__tabs_nav">
        <div class="price__tabs_tab"  >
          Футболки
        </div>
        <div class="price__tabs_tab" >
          поло
        </div>
        <div class="price__tabs_tab">
          толстовки
        </div>
        <div class="price__tabs_tab">
          жилеты
        </div>
        <div class="price__tabs_tab">
          Холщовые сумки
        </div>
        <div class="price__tabs_tab">
          Бейсболки
        </div>
        <div class="price__tabs_tab">
          Сорочки
        </div>
        <div class="price__tabs_tab">
          Пледы и шарфы
        </div>
        <div class="price__tabs_tab">
          Фартуки
        </div>
        <div class="price__tabs_tab">
          Ветровки и куртки
        </div>
      </div>
      <div class="price__tabs_content">
        <div class="price__tabs_item">
            <table>
              <tr>
                <th>
                  Тираж, штук
                </th>
                <th>
                  50 - 100
                </th>
                <th>
                  100 - 500
                </th>
                <th>
                  500 - 1000
                </th>
                <th>
                  1000 - 5000
                </th>
                <th>
                  5000 - 10000
                </th>
                <th>
                  10000 - 20000
                </th>
              </tr>
              <tr>
                <td>
                  Футболки мужские
                  <strong>140-160 г/м2</strong>
                </td>
                <td>
                  <span>200</span> РУБ.
                </td>
                <td>
                  <span>195</span> РУБ.
                </td>
                <td>
                  <span>190</span> РУБ.
                </td>
                <td>
                  <span>185</span> РУБ.
                </td>
                <td>
                  <span>180</span> РУБ.
                </td>
                <td>
                  <span>170</span> РУБ.
                </td>
              </tr>
              <tr>
                <td>
                  Футболки женские
                  <strong>140-160 г/м2</strong>
                </td>
                <td>
                  <span>200</span> РУБ.
                </td>
                <td>
                  <span>195</span> РУБ.
                </td>
                <td>
                  <span>190</span> РУБ.
                </td>
                <td>
                  <span>185</span> РУБ.
                </td>
                <td>
                  <span>180</span> РУБ.
                </td>
                <td>
                  <span>170</span> РУБ.
                </td>
              </tr>
      </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
        <div class="price__tabs_item">
          <table>
            <tr>
              <th>
                Тираж, штук
              </th>
              <th>
                50 - 100
              </th>
              <th>
                100 - 500
              </th>
              <th>
                500 - 1000
              </th>
              <th>
                1000 - 5000
              </th>
              <th>
                5000 - 10000
              </th>
              <th>
                10000 - 20000
              </th>
            </tr>
            <tr>
              <td>
                Футболки мужские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
            <tr>
              <td>
                Футболки женские
                <strong>140-160 г/м2</strong>
              </td>
              <td>
                <span>200</span> РУБ.
              </td>
              <td>
                <span>195</span> РУБ.
              </td>
              <td>
                <span>190</span> РУБ.
              </td>
              <td>
                <span>185</span> РУБ.
              </td>
              <td>
                <span>180</span> РУБ.
              </td>
              <td>
                <span>170</span> РУБ.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="colors">
  <div class="container">
    <div class="headline">
      Печать
    </div>
    <div class="title">
      <h2>
        ШЕЛКОТРАФАРЕТНАЯ ПЕЧАТЬ
      </h2>
    </div>
    <div class="colors__table">
      <table>
        <tr>
          <th>
            Цвет \ Тираж, штук
          </th>
          <th>
            50
          </th>
          <th>
            100
          </th>
          <th>
            200
          </th>
          <th>
            300
          </th>
          <th>
            500
          </th>
          <th>
            1 000
          </th>
          <th>
            5 000
          </th>
          <th>
            10 000
          </th>
          <th>
            100 000
          </th>
        </tr>
        <tr>
          <td>
            1 + 0
          </td>
          <td>
            46
          </td>
          <td>
            40
          </td>
          <td>
            37
          </td>
          <td>
            33
          </td>
          <td>
            30
          </td>
          <td>
            25
          </td>
          <td>
            22
          </td>
          <td>
            21
          </td>
          <td>
            19
          </td>
        </tr>
        <tr>
          <td>
            2 + 0
          </td>
          <td>
            64
          </td>
          <td>
            55
          </td>
          <td>
            48
          </td>
          <td>
            42
          </td>
          <td>
            37
          </td>
          <td>
            31
          </td>
          <td>
            27
          </td>
          <td>
            25
          </td>
          <td>
            22
          </td>
        </tr>
        <tr>
          <td>
            3 + 0
          </td>
          <td>
            82
          </td>
          <td>
            70
          </td>
          <td>
            58
          </td>
          <td>
            51
          </td>
          <td>
            45
          </td>
          <td>
            37
          </td>
          <td>
            31
          </td>
          <td>
            29
          </td>
          <td>
            25
          </td>
        </tr>
        <tr>
          <td>
            4 + 0
          </td>
          <td>
            100
          </td>
          <td>
            85
          </td>
          <td>
            69
          </td>
          <td>
            60
          </td>
          <td>
            52
          </td>
          <td>
            49
          </td>
          <td>
            42
          </td>
          <td>
            39
          </td>
          <td>
            31
          </td>
        </tr>
        <tr>
          <td>
            6 + 0
          </td>
          <td>
            124
          </td>
          <td>
            103
          </td>
          <td>
            90
          </td>
          <td>
            78
          </td>
          <td>
            67
          </td>
          <td>
            55
          </td>
          <td>
            48
          </td>
          <td>
            45
          </td>
          <td>
            34
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
